header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all 0.3s;
}

.menu--icon {
    width: 32px;
    height: 32px;
    background-image: url('https://img.icons8.com/ios-filled/32/e3e3e3/menu-rounded.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: flex-start;
    margin: 10px;
    z-index: 3;
    transition:.4s;
}

.menuClose--icon {
    background-image: url('https://img.icons8.com/fluency-systems-filled/32/e3e3e3/delete-sign.png');
}

header nav {
    transform: translateX(-100%);
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    transition: 0.4s;
}

header .closeMenuMobile{
    width: 0px;
    flex-grow: 1;
    height: 100%;
    background-color: #1e1e1eab;
}

header nav ul {
    display: inline-block;
    width: 75%;
    height: 100%;
    background-color: #1e1e1e;
    padding: 60px 15px;
    z-index: 5;
}

header nav li {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    list-style: none;
    padding-top: 15px;
}

header nav a {
    color: #fff;
    text-decoration: none;
}

header .menuMobile {
    transform: translateX(0);
}

header picture {
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    transform: translateX(-21px);
}

header picture img {
    height: 100%;
}

.title--contain {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 30px 15px;
    padding: 30px;
    background-color: #363636a2;
    border-radius: 25px;
    box-shadow: 0 0 15px #1e1e1e;
}

.title {
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

.title--content {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
}

.active {
    height: 60px;
    background-color: #1e1e1e;
    box-shadow: 0 .5px 15px #000;
}

.title--contain hr {
    background-color: #fff;
    margin-bottom: 15px;
} 